$firstColor:#faa;
$secColor:#faf;
$threColor:#aaf;
$fourColor:#afa;
$fiveColor:#ffa;
%fontSize{
    font-size: 36px;
}
// buttonModel===============================
$buttonValue:#f77,#fff,300px,100px;
$buttonHoverValue:#ff7,#000;
// =========================================